
$theme-gradient:linear-gradient(135deg, #1e1e2f, #23233a);
$primary-darker:#1e1e2f;
$primary-color:#23233a;
$secondray-color:#11121a;
$primary-text:#00bcd4;
$secondray-text:#ccc;
$white :#fff;
$black:#111;
